body {
    color: $primary;
    font-family: $mundial;
    font-weight: 400;
    margin: 0;

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-weight: 700;
        font-size: 11.25rem;
    }
    h2 {
        font-weight: 600;
        font-size: 2.1rem;
    }
}
