@media only screen and (max-width: 639px) {
    .contact-form{
        margin-top: 2rem;
    
    .form-container{
        border-left: solid 1px #333;
        margin: 0 1rem;
        position: relative;
    
        .form-line{
            width: 1px;
            height: 60px;
            background-color: #333;
            position: absolute;
            top: 1rem;
    
        }
    
    .contact-form {
        max-width: screen;
        margin: 0 auto;
        padding: 20px;
    
        h2 {
            text-align: left;
            margin-bottom: 20px;
            font-size: 14px;
        }
    
        form {
            font-size: 14px;
            font-weight: 100;
            
            .input-row {
                p {
                    margin: 10px 0;
                }
    
                input {
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    border-radius: 0;
                    font-size: 16px;
    
                    &:focus {
                        outline: none;
                        border-bottom: 1px solid #333;
                    }
                }
    
                textarea {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border: 1px solid #ccc;
                    border-radius: 0;
                    font-size: 16px;
    
                    &:focus {
                        outline: none;
                    }
                }
            }
    
            .message-text{
                margin: 20px 0 10px 0;
            }
    
            button {
                padding: 5px 20px;
                background-color: #fff;
                color:  #333;
                border: solid 1px #ccc;
                font-size: 14px;
                font-weight: 100;
                transition: background-color 0.3s ease;
    
                &:hover {
                    background-color: $primary;
                    color: #fff;
                }
            }
        }
    }
    
    }
    }   
}

@media (min-width: $sm){

.contact-form{
    margin: 1.5rem;

.form-container{
    border-left: solid 1px #333;
    margin: 0 1rem;
    position: relative;

    .form-line{
        width: 1px;
        height: 60px;
        background-color: #333;
        position: absolute;
        top: 60px;

    }

.contact-form {
    max-width: screen;
    margin: 0 auto;
    padding: 20px;

    h2 {
        text-align: left;
        margin-bottom: 20px;
        font-size: 14px;
    }

    form {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 100;
        
        .input-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            p {
                width: 25%;
                margin: 0;
            }

            input {
                width: 25%;
                height: 10px;
                padding: 10px;
                border: none;
                border-bottom: 1px solid #ccc;
                border-radius: 0;
                font-size: 16px;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid #333;
                }
            }

            textarea {
                width: 100%;
                padding: 10px;
                border: none;
                border: 1px solid #ccc;
                border-radius: 0;
                font-size: 16px;

                &:focus {
                    outline: none;
                }
            }
        }

        .message-text{
            margin: 20px 0 10px 0;
        }

        button {
            width: 20%;
            padding: 5px 20px;
            background-color: #fff;
            color:  #333;
            border: solid 1px #ccc;
            font-size: 14px;
            font-weight: 100;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $primary;
                color: #fff;
            }
        }
    }
}

}
}
}

@media (min-width: $lg){
    .contact-form{
        margin: 3rem;
    .form-container{
    
        .form-line{
            height: 70px;
        }
    
    .contact-form {
    
        h2 {
            font-size: 16px;
        }
    
        form {
            font-size: 16px;
            
            .input-row {
                gap: 1rem;
    
                p {
                    font-size: 16px;
                }
    
                input {
                    font-size: 16px;
                }
    
                textarea {
                    font-size: 16px;
                }
            }
    
            .message-text{
                font-size: 16px;
            }
    
            button {
                font-size: 16px;
            }
        }
    }
    
    }
    }
    }

    @media (min-width: $xl){
        .contact-form{
        .form-container{
        
            .form-line{
                height: 70px;
            }
        
        .contact-form {
        
            h2 {
                font-size: 18px;
            }
        
            form {
                font-size: 18px;
                
                .input-row {
                    gap: 1rem;
        
                    p {
                        font-size: 18px;
                    }
        
                    input {
                        font-size: 18px;
                    }
        
                    textarea {
                        font-size: 18px;
                    }
                }
        
                .message-text{
                    font-size: 18px;
                }
        
                button {
                    font-size: 18px;
                }
            }
        }
        
        }
        }
        }

@media  (min-width: $xxl){
    .contact-form{
    .form-container{
    
        .form-line{
            height: 70px;
        }
    
    .contact-form {
    
        h2 {
            font-size: 20px;
        }
    
        form {
            font-size: 20px;
            
            .input-row {
                gap: 1rem;
    
                p {
                    font-size: 20px;
                }
    
                input {
                    font-size: 20px;
                }
    
                textarea {
                    font-size: 20px;
                }
            }
    
            .message-text{
                font-size: 20px;
            }
    
            button {
                font-size: 20px;
            }
        }
    }
    
    }
    }
    }
    