@media only screen and (max-width: 639px) {
  .asterisk {
    color: red;
    display: none;
    margin-right: 1rem;
  }

  .sent-message{
    color: blue;
    display: none;
    margin-right: 1rem;
  }
  
  .message-text {
    margin-bottom: 1rem;
  }

  .form-validation-message {
    margin-top: 1rem;
  }

  .contact-form{
    margin-top: 2rem;

    .form-container{
      border-left: solid 1px #333;
      margin: 0 1rem;
      position: relative;

      .form-line{
        width: 1px;
        height: 3.75rem;
        background-color: #333;
        position: absolute;
        top: 1rem;

      }

      .contact-form {
        max-width: screen;
        margin: 0 auto;
        padding: 1.25rem;

        h2 {
          text-align: left;
          margin-bottom: 1.25rem;
          font-size: 0.875rem;
        }

        form {
          font-size: 0.875rem;
          font-weight: 100;

          .input-row {
            p {
              margin: 0.6rem 0;
            }

            input {
              width: 100%;
              height: auto;
              padding: 0.6rem;
              border: none;
              border-bottom: 1px solid #ccc;
              border-radius: 0;
              font-size: 1rem;

              &:focus {
                outline: none;
                border-bottom: 1px solid #333;
              }

                &:last-child {
                margin-bottom: 1rem;
                }
            }

            textarea {
              width: 100%;
              padding: 0.6rem;
              border: none;
              border: 1px solid #ccc;
              border-radius: 0;
              font-size: 1rem;

              &:focus {
                outline: none;
              }
            }
          }

          button {
            padding: 0.3rem 1.25rem;
            background-color: #fff;
            color:  #333;
            border: solid 1px #ccc;
            font-size:  0.875rem;
            font-weight: 100;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: $primary;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }

    }
  }   
}

@media (min-width: $sm) {
  .asterisk {
    color: red;
    display: none;
    margin-right: 1rem;
  }

  .sent-message{
    color: blue;
    display: none;
    margin-right: 1rem;
  }
  
  .message-text {
    margin-bottom: 1rem;
  }

  .form-validation-message {
    margin-top: 1rem;
  }

  .contact-form {
    margin: 1.5rem;

    .form-container {
      border-left: solid 1px #333;
      margin: 0 1rem;
      position: relative;

      .form-line {
        width: 1px;
        height: 3.75rem;
        background-color: #333;
        position: absolute;
        top: 3.5rem;
      }

      .contact-form {
        max-width: 100%;
        margin: 0 auto;
        padding: 1.25rem;

        h2 {
          text-align: left;
          margin-bottom: 1.25rem;
          font-size: 0.875rem;
        }

        form {
          display: flex;
          flex-direction: column;
          font-size: 0.875rem;
          font-weight: 100;
          max-width: 37.5rem;
          width: 100%; 

          .input-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.625rem;
            width: 100%; 

            .input-contents {
              display: flex;
              align-items: center;
              width: 100%; 
              margin-bottom: 1rem;

              p {
                margin-right: 0.3rem;
                white-space: nowrap; 
              }

              input {
                width: 100%; 
                border: none;
                border-bottom: 1px solid #ccc;
                border-radius: 0;
                font-size: 1rem;

                &:focus {
                  outline: none;
                  border-bottom: 1px solid #333;
                }
              }
            }

            .input-contents.space input {
              margin-right: 1rem; 
            }

            textarea {
              width: 100%;
              padding: 0.625rem;
              border: none;
              border: 1px solid #ccc;
              border-radius: 0;
              font-size: 16px;

              &:focus {
                outline: none;
              }
            }
          }

          button {
            width: 20%;
            padding: 0.3rem 1.25rem;
            background-color: #fff;
            color: #333;
            border: solid 1px #ccc;
            font-size: 0.875rem;
            font-weight: 100;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: $primary;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}


@media (min-width: $md) {
  .contact-form {

    .form-container {

      .form-line {
        height: 3.75rem;
        top: 3.5rem;
      }

      .contact-form {
        form {
          max-width: 45rem; 
        }
      }
    }
  }
}



@media (min-width: $lg) {
  .contact-form {
    margin: 3rem;

    .form-container {
      margin: 0 1.5rem; 

      .form-line {
        height: 4.6rem; 
        top: 4.5rem;
      }

      .contact-form {
        padding: 1.87rem; 

        h2 {
          margin-bottom: 1.5rem;
          font-size: 1rem; 
        }

        form {
          font-size: 1rem; 
          max-width: 56.25rem; 

          .input-row {
            margin-bottom: 0.9rem;
            gap: 1rem; 

            .input-contents {
              margin-bottom: 0.9rem;

              p {
                margin-right: 0.625rem;
                font-size: 1rem;  
              }
            }

            textarea {
              padding: 0.75rem;
            }
          }

          button {
            padding: 0.625rem 1.5rem;
            font-size: 1rem;  
          }
        }
      }
    }
  }
}


@media (min-width: $xl) {
  .contact-form {
    .form-container {
      .form-line {
        height: 4.3rem;
        top: 5rem; 
      }

      .contact-form {
        h2 {
          font-size: 1.125rem;
        }

        form {
          font-size: 1.125rem;
          max-width: 73.75rem; 

          .input-row {
            gap: 1rem; 

            .input-contents {
              margin-bottom: 1.5rem;
            }

            p {
              font-size: 1.125rem; 
            }

            input {
              font-size: 1.125rem;
            }

            textarea {
              font-size: 1.125rem;
            }
          }

          .message-text {
            font-size: 1.125rem;
          }

          button {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}


@media (min-width: $xxl) {
  .contact-form {
    margin: 4rem; 
    .form-container {
      margin: 0 2rem; 

      .form-line {
        width: 1px;
        height: 4.375rem; 
        top: 6rem;
      }

      .contact-form {
        margin: 0 auto;
        padding: 2.5rem; 

        h2 {
          margin-bottom: 1.8rem; 
          font-size: 1.25rem;
        }

        form {
          font-size: 1.25rem;
          max-width: 54rem;
          width: 100%; 

          .input-row {
            margin-bottom: 1.25rem; 

            .input-contents {
              margin-bottom: 1.5rem;

              p {
                margin-right: 0.625rem;
                font-size: 1.25rem;
              }

              input {
                font-size: 1.25rem;
              }
            }

            .input-contents.space input {
              margin-right: 1rem; 
            }

            textarea {
              font-size: 1.25rem; 
            }
          }

          .message-text {
            font-size: 1.25rem;
          }

          button {
            padding: 0.75rem 1.8rem; 
            font-size: 1.25rem;
            font-weight: 100;
          }
        }
      }
    }
  }
}


