footer {
  @media only screen and (max-width: 639px) {
    font-weight:200;
    margin-bottom:90px;

    .footer-box{
      .footer-logo {
        max-width: screen;
        justify-content: center;
        margin:auto;
        width: 60%;
  
        img {
          width: 100%;
        }
      }
  
      .index {
        max-width: screen;
        justify-content: center;
        margin:auto;
        width:90%;
  
        ul {
          list-style: none;
          padding: 0;
          text-align: center;
        }
  
        li:not(:last-child) {
          padding-bottom: 10px;
        }
      }

      .contact {
        max-width: screen;
        justify-content: center;
        margin:auto;
        width:90%;
  
        .contact-info {
          text-align: center;

          p{
            margin-bottom: 10px;
          }
        }

        a {
          color: inherit; 
          text-decoration: none; 
        }

        &:hover {
          text-decoration: underline;
          color: blue; 
        }
      }
    }
}

  @media (min-width: $sm){
    margin-bottom:90px;
    font-weight:200;

    .footer-box {
      display: flex;
      max-width: 600px;
      margin: auto;
  
      .footer-logo {
        
        img {
          width: 100%;
        }
      }
  
      .index {
        position: relative;
        width: 80%;
        margin-right: 70px;
  
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          position: absolute;
          top: 50px;
          left: 25px;
          font-size:10px;
        }
        
        li {
          margin-right: 40px;
        }
        li:not(:last-child) {
          padding-bottom: 10px;
        }
      }

      .contact {
        position: relative;
        width: 100%;

        .contact-info {
          position: absolute;
          left: 80px;
          top: 60px;
          font-size:10px;

          p{
            margin-bottom: 5px;
          }
        }

        a {
          color: inherit; 
          text-decoration: none; 

          &:hover {
            color: blue; 
            text-decoration: underline;
          }
        }
      }
  
    }

  }

  @media (min-width: $md){
    .footer-box {
      max-width: screen;
  
      .index {
        width: 80%;
  
        ul {
          top: 50px;
          left: 40px;
        }
      }
 
    }
  }


  @media (min-width: $lg){

    .footer-box {
      max-width: 890px;
  
      .index {
        width: 50%;
        ul {
          top: 50px;
          left: 80px;
          font-size:14px;
        }
  
      }
      .contact {
  
        .contact-info {
          left: 200px;
          top: 65px;
          font-size:14px;
        }
      }
  
    }
  }

  @media (min-width: $xl){
    .footer-box {
      max-width: screen;
      margin:auto;

  
      .index {
        ul {
          top: 60px;
          font-size:16px;
        }

      }

      .contact {
  
        .contact-info {
          left: 200px;
          top: 75px;
          font-size:16px;
        }
      }
  
    }
  }
  
}