header {
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        z-index: 10; 

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 1rem; 

        .col {

        }
    }
}
