div {
    .home-hero {
        position: relative;
    }

    .hero-image {
        width: 100%;
    }

}

.container {
    margin-top: 10rem;
    margin-left: 2.5rem;
    max-width: 540px; 

    @media (min-width: $md){
        max-width: 720px; 
    }

    @media (min-width: $lg){
        margin-left: 5rem;
        max-width: 960px; 
    }

    @media (min-width: $xl){
        max-width: 1140px;
    }

    @media (min-width: $xxl){
        max-width: 1320px;
    }

}

.hero-container h1 {
    font-size: 6rem; 
    margin-bottom: 20px; 

    @media (min-width: $lg){
        font-size: 8rem; 
    }

    @media (min-width: $xl){
        font-size: 10rem; 
    }

    @media (min-width: $xxl){
        font-size: 11.25rem; 
    }
}

