.home-mission{
    @media only screen and (max-width: 639px) {
        font-weight: 200;
    
        img{
            width:100%;
        }
    
        .mission-contentsbox{
            width:screen;
            height: auto;
            background-color: $primary;
            padding-bottom: 1rem;
            margin: 1rem;
    
            .mission-box{
                width:screen;
                height: auto;
                padding: 1rem 1rem 2rem 1.5rem;
                color: #fff;


                .title{
                    padding-top:35px;
                    font-size: 14px;
                }
    
                .mission-textbox{
                    width:screen;
                    height: auto;
                    margin-top:7px;
                    border-left:solid #fff 1px;
                    position: relative;
    
                    .textbox-line{
                        position: absolute;
                        top:19px;
                        width: 2px;
                        height:50px;
                        background-color: #fff;
                    }
                }
    
                .textbox-title{
                    font-weight:400;
                    padding-top:21px;
                    margin-left: 6px;
                }
        
                .textbox-text{
                    padding-top: 20px;
                    margin-left: 6px;
                }
    
                .mission-button{
                    margin-top: 15px;
                    margin-left:6px;
                }
            }
        }
            
    
    }

    @media (min-width: $sm){
        font-weight: 200;

        .mission-container {
            position: relative;
            display: inline-block;
        }
    
        img{
            width:100%;
        }
    
        .mission-contentsbox{
            width: 260px;
            height: 310px;
            background-color: $primary;
            position: absolute;
            top: 50px;
            left: 60px;
    
            .mission-box{
                height:246px;
                width:202px;
                margin-left:30px;
                margin-top:35px;
                color: #fff;


                .title{
                    font-size: 8px;
                }
    
                .mission-textbox{
                    width:190px;
                    height:200px;
                    margin-top:7px;
                    border-left:solid #fff 1px;
                    position: relative;
    
                    .textbox-line{
                        position: absolute;
                        top:19px;
                        width: 2px;
                        height:32px;
                        background-color: #fff;
                    }
                }
    
                .textbox-title{
                    font-size: 10px;
                    font-weight:400;
                    padding-top:21px;
                    margin-left: 6px;
                }
        
                .textbox-text{
                    font-size: 10px;
                    padding-top: 20px;
                    margin-left: 6px;
                }
    
                .mission-button{
                    font-size: 10px;
                    margin-top: 15px;
                    margin-left:6px;
                }
            }
        }
            
    }
 
    @media (min-width: $md){

        .mission-contentsbox {
            width:312px;
            height:380px;
            top: 90px;
            left: 70px;
    
            .mission-box{
                height:295px;
                width:243px;
                margin-left:36px;
                margin-top:42px;


                .title{
                    font-size: 10px;
                }
    
                .mission-textbox{
                    width:228px;
                    height:240px;
                    margin-top:8px;
    
                    .textbox-line{
                        top:25px;
                        width: 2px;
                        height:38px;
                    }
                }
    
                .textbox-title{
                    font-size: 12px;
                    font-weight:400;
                    padding-top:26px;
                    margin-left: 10px;
                }
        
                .textbox-text{
                    font-size: 12px;
                    padding-top: 23px;
                    margin-left: 10px;
                }
    
                .mission-button{
                    font-size: 12px;
                    margin-top: 18px;
                    margin-left:10px;
                }
            }
        }
    }

    @media (min-width: $lg){

        .mission-contentsbox {
            width:416px;
            height:506px;
            top: 120px;
            left: 100px;
    
            .mission-box{
                height:395px;
                width:324px;
                margin-left:48px;
                margin-top:56px;

                .title{
                    font-size: 12px;
                }
    
                .mission-textbox{
                    width:304px;
                    height:320px;
                    margin-top:14px;
    
                    .textbox-line{
                        top:33px;
                        width: 3px;
                        height:46px;
                    }
                }
    
                .textbox-title{
                    font-size: 16px;
                    font-weight:400;
                    padding-top:33px;
                    margin-left: 12px;
                }
        
                .textbox-text{
                    font-size: 16px;
                    padding-top: 30px;
                    margin-left: 12px;
                }
    
                .mission-button{
                    font-size: 16px;
                    margin-top: 30px;
                    margin-left:12px;
                }
            }
        }
        
    }
    

    @media (min-width: $xl){

        .mission-contentsbox {
            width:520px;
            height:633px;
            top: 184px;
            left: 150px;
    
            .mission-box{
                height:493px;
                width:405px;
                margin-left:60px;
                margin-top:70px;

                .title{
                    font-size: 16px;
                }
    
                .mission-textbox{
                    width:380px;
                    height:401px;
                    margin-top:14px;
    
                    .textbox-line{
                        top:42px;
                        height:58px;
                    }
                }
    
                .textbox-title{
                    font-size: 20px;
                    font-weight:400;
                    padding-top:42px;
                }
        
                .textbox-text{
                    font-size: 20px;
                }
    
                .mission-button{
                    font-size: 20px;
                }
            }
        }
        
    }

    @media (min-width: 1441px){
        max-width: 1530px;
        margin: auto; 
        display: flex;
        justify-content: center; 
        position: relative; 
    
        img {
            width: 1440px; 
            display: block;
        }
    }
    
}