.home-testimonial {
    @media only screen and (max-width: 639px) {
        font-weight: 200;
        margin-top: 6.25rem;
    
        .testimonial-contentsbox {
            width:screen;
            height: auto;
            background-color: $primary; 
            color: #fff;
            padding-bottom: 1rem;
            margin: 1rem;

            .testimonial-box{
                width:screen;
                height: auto;
                padding: 2rem 1rem 2rem 1.5rem;

    
                .testimonial-textbox{
                    margin-top: 0.5rem;
                    border-left:solid #fff 1px;
                    position: relative;
    
                    .textbox-line{
                        position: absolute;
                        top: 1.25rem;
                        width: 2px;
                        height: 2.8rem;
                        background-color: #fff;
                    }
    
                    .textbox-title{
                        padding-top: 1.25rem;
                        margin-left: 0.7rem;
                        font-size: 18px;
    
                        .title-main{
                            font-weight:400;
                            margin-bottom: 0.3rem;
                        }
                    }
            
                    .textbox-text{
                        padding-top: 1.25rem;
                        margin-left: 0.7rem;
                    }
                }
            }
        }
    }

    @media (min-width: $sm){
        font-weight: 200;
        margin-top: 6.25rem;
    
        .testimonial-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .testimonial-contentsbox {
            height:320px;
            width: 33%;
            background-color: $primary; 
            color: #fff;
    
            &:nth-child(1){
                margin-right: 1.56rem;
            }

            &:not(:last-child) { 
            margin-bottom: 3.1rem;
            }


    
            .testimonial-box{
                height:240px;
                width:152px;
                margin: 2rem 0 1rem 1rem;
                font-size: 10px;
    
                .testimonial-textbox{
                    margin-top: 0.5rem;
                    border-left:solid #fff 1px;
                    position: relative;
    
                    .textbox-line{
                        position: absolute;
                        top:  1.25rem;
                        width: 2px;
                        height: 2.1rem;
                        background-color: #fff;
                    }
    
                    .textbox-title{
                        font-size: 14px;
                        padding-top: 1.25rem;
                        margin-left: 0.7rem;
    
                        .title-main{
                            font-weight:400;
                            margin-bottom: 0.35rem;
                        }
                    }
            
                    .textbox-text{
                        padding-top: 1.25rem;
                        margin-left: 0.7rem;
                    }
                }
            }
        }
    }



    @media (min-width: $md){  
        margin-top: 14.4rem;
        
        .testimonial-container {
            display: flex;
            justify-content: center;
        }

        .testimonial-contentsbox {
            height:370px;
            width:220px;
    
            &:not(:last-child) { 
                margin-right: 2.5rem;
            }
    
            .testimonial-box{
                height:256px;
                width:176px;
                font-size: 12px;
                margin: 2.5rem 0 1rem 1rem;
    
                .testimonial-textbox{

                    .textbox-line{
                        top: 1.25rem;
                        height: 2.8rem;
                    }
    
                    .textbox-title{
                        font-size: 16px;
                    }
                }
            }
        }
    }


    @media (min-width: $lg){

        .testimonial-contentsbox {
            width: 256px;
            height: 385px;
    
            &:not(:last-child) { 
                margin-right: 3.4rem;
            }
    
            .testimonial-box{
                height:275px;
                width:215px;
                margin-left: 1.25rem;
                margin-top: 1.8rem;
                font-size: 14px;
    
                .testimonial-textbox{
                    margin-top: 0.625rem;
    
                    .textbox-line{
                        top: 1.8rem;
                        width: 3px;
                    }
    
                    .textbox-title{
                        font-size: 18px;
                        padding-top: 1.8rem;
                        margin-left: 0.75rem;
                    }
            
                    .textbox-text{
                        padding-top: 1.56rem;
                    }
                }
            }
        }
    }


    @media (min-width: $xl){

        .testimonial-contentsbox {
            width: 321px;
            height: 421px;
    
            &:not(:last-child) { 
                margin-right: 4.3rem;
            }
    
            .testimonial-box{
                height:344px;
                width:269px;
                margin-left: 1.56rem;
                margin-top: 2.5rem;
    
                .testimonial-textbox{
                    margin-top: 0.9rem;

                    .textbox-line{
                        top: 2.5rem;
                    }
    
                    .textbox-title{
                        font-size: 20px;
                        padding-top: 2.5rem;
                    }
            
                    .textbox-text{
                        padding-top: 1.8rem;
                    }
                }
            }
        }
    }
 
}