.home-products{
    @media (min-width: $xl){
        display:flex;
        justify-content: center;
        margin-bottom: 215px;
        font-weight: 200;
    
        .product-textbox{
            height: 408px;
            width: 367px;
            margin-top: 14px;
            margin-right:217px;
            border-left:solid black 1px;
            position: relative;
    
            .textbox-line{
                position: absolute;
                top:42px;
                width: 3px;
                height:58px;
                background-color: black;
            }
    
            .textbox-title{
                font-size: 20px;
                font-weight:400;
                padding-top:42px;
                margin-left: 12px;
            }
    
            .textbox-text{
                font-size: 20px;
                padding-top: 30px;
                margin-left: 12px;
            }
        }
    
        .product-button{
            font-size: 20px;
            margin-top: 30px;
            margin-left:12px;
        }
    }
    
}
