.home-testimonial {
    max-width: 1180px;
    margin: auto;
    margin-top: 233px;

    .testimonial-container {
        display: flex;
    }

    .testimonial-box {
        width: 321px;
        height: 421px;
        background-color: $primary; 
        padding: 50px 20px;

        &:not(:last-child) { 
            margin-right: 71px;
        }

        .product-description {
            p {
                margin-bottom: 30px;
                color: #fff;
            }
        }
    }
}
