.home-mission{
    .mission-box {
        width:520px;
        height:633px;
        background-color: $primary;
    }
    
    .product-description {
        padding-right: 217px;

        p {
            margin-bottom:30px;
        }
    }
}