nav {
            position: absolute; 
            top: 3.75rem;
            left: 0;
            right: 0;
            z-index: 10; 
 

    ul {
        list-style: none;
        
        li {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            a {
                text-decoration: none;
            }
        }
    }
}
